<div class="row">
  <div class="search-filters col-md-8">
    <input type="text" class="form-control" placeholder="Name" [(ngModel)]="minionFilters.name">
    <select class="form-control" [(ngModel)]="minionFilters.gender">
      <option [ngValue]="undefined" selected>All genders</option>
      <option [ngValue]="'Male'">Male</option>
      <option [ngValue]="'Female'">Female</option>
    </select>
    <select class="form-control" [(ngModel)]="minionFilters.numberOfEyes">
      <option [ngValue]="undefined" selected>All number of eyes</option>
      <option [ngValue]="1">One</option>
      <option [ngValue]="2">Two</option>
      <option [ngValue]="3">Three</option>
    </select>
    <div class="checkbox">
      <label>
        <input type="checkbox" [(ngModel)]="minionFilters.isFriendly">
        Friendly?
      </label>
    </div>
  </div>

  <div class="search-buttons col-md-4">
    <button type="button" class="btn btn-primary pull-right" (click)="addNewMinion()">Add new minion</button>
  </div>
</div>

<div class="row">
  Total minions: <b>{{ minionsData.count }}</b>
</div>

<div class="row" *ngIf="!isLoading">
  <div class="col-md-2" *ngFor="let minion of minions | searchFilters:minionFilters:minionsData">

    <div class="minion-panel minion-panel-default">
      <div [hidden]="!minion.picture" class="minion-photo"
           [ngStyle]="{ 'background-image': 'url(assets/images/' + minion.picture + ')' }">
        <a (click)="goToMinionDetail(minion)" class="minion-veil"></a>
      </div>
      <div class="minion-header">
        <div class="minion-header-name">{{minion.name}}</div>
      </div>
    </div>

  </div>
</div>

<i class="logo loading-content" *ngIf="isLoading">
  <img src="./assets/images/gru-logo.ico">
</i>
