<div>
  <h3>Contact page !</h3>

  <div class="col-md-8">
    <div><b>Factory</b>: Supervillain factory S.A.</div>
    <div><b>Leader</b>: Gru</div>
    <div><b>Occupation</b>:
      <ul>
        <li>Supervillain (formerly)</li>
        <li>Jelly manufacturer (formerly)</li>
        <li>Anti-Villain League correspondent (currently)</li>
      </ul>
    </div>
    <div><b>Enemies</b>:
      <ul>
        <li>Vector</li>
        <li>El Macho</li>
        <li>Scarlet Overkill</li>
        <li>Balthazar Bratt</li>
      </ul>
    </div>
    <div><b>Contact us</b>:</div>

    <div>
      <!-- FORM -->
    </div>

  </div>

  <div class="col-md-2">
    <img src="./assets/images/gru.png">
  </div>

  <i class="logo">
    <img src="./assets/images/gru-logo.ico">
  </i>
</div>
