div.row {
  margin: 20px 0;
}
div.minion-item {
  min-height: 300px;
}
.minion-photo {
  background-size: cover;
  background-position-y: 50%;
  height: 250px;
}
.minion-panel.minion-panel-default {
  border-top-color: #F5F5F5;
  border-top-width: 1px;
}
.minion-panel {
  float: left;
  width: 100%;
  border-radius: 0px;
  border: 0px;
  border-top: 2px solid #E5E5E5;
  margin-bottom: 20px;
  position: relative;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
}
.minion-photo:hover .minion-veil {
  opacity: 0.5;
}
.minion-veil {
  background: #333;
  height: 250px;
  width: 100%;
  position: absolute;
  top: 0;
  opacity: 0;
  cursor: pointer;
  transition: all 0.5s linear;
}
.minion-header {
  padding: 20px;
  text-align: center;
  background: #e8e8e8;
}
.minion-header-name {
  font-size: 12px;
  font-weight: 300;
}
