@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';

.content {
  margin: 50px;
}

.color-green {
  color: green;
}

.color-red {
  color: red;
}

i.loading-content {
  width: 100%;
  animation: flickerAnimation 1s infinite;
}

i.logo img {
  width: 80px;
  height: 80px;
  margin: 6em 45%;
}

@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
