@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: grid;
}

.color-green {
  color: green;
}

.color-red {
  color: red;
}

i.loading-content {
  width: 100%;
  animation: flickerAnimation 1s infinite;
}

i.logo img {
  width: 80px;
  height: 80px;
  margin: 6em 45%;
}

.content-alert {
  display: inline-block;
  width: 100%;
  margin: 10px 0;
  padding: 2em;
}

.content-alert i {
  float: left;
  margin: 0 2em 2em 0;
  font-size: 2em;
}

@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
